<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-neutral-800 text-neutral-200 min-h-screen">
    {% include 'navbar.html' %}
    <h1>Регистрация</h1>
    <form method="post">
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Пароль: <input type="password" name="password" required></label><br>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html> 